
* {
box-sizing: border-box;
margin: 0 auto;
}

body {
  font-size: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h2, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

h2 {
  font-size: 1.5em;
  cursor: pointer;
}

#question {
  font-size: 2.5em;
}

.calculator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  margin: 5% 0% 0% 0%;
  height: 80vh;
  width: 50vw;
  border: 1px solid grey;

}

.number, .clear, .equal, .decimal {
  border: 1px solid grey;
  flex-basis: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  background-color: rgb(98, 178, 85);
}

.clear:hover, .equal:hover {
  background-color: rgb(130, 193, 122);
}

.output {
  border: 1px solid grey;
  flex-basis: 75%;
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  color: white;
  background-color: rgb(98, 178, 85);
  padding: 0% 15%;
}

.operator {
  border: 1px solid grey;
  flex-basis: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: black;
  background-color: rgb(130, 193, 122);
}

.operator:hover {
  color: white;
}

footer {
  margin-bottom: 2%;
}

/*--------Tablet Display----------*/

@media screen and ( max-width: 770px ) {
  body {
    font-size: 90%;
  }

  h2 {
    font-weight: 200;
    font-size: 1.5em;
  }

  .calculator {
    margin: 7% 0% 0% 0%;
    height: 80vh;
    width: 75vw;
  }

  .output {
    padding: 0% 10%;
  }

  h5 {
    font-size: 1.1em
  }

  footer {
    margin-bottom: 4%;
  }
}


/*--------Mobile Display----------*/

@media screen and ( max-width: 545px ) {
  body {
    font-size: 80%;
  }

  h2 {
    font-weight: 200;
    font-size: 1.5em;
  }

  .calculator {
    margin: 10% 0% 0% 0%;
    height: 80vh;
    width: 85vw;
  }

  .output {
    padding: 0% 10%;
  }

  h5 {
    font-size: 1.1em
  }

  footer {
    margin-bottom: 4%;
  }
}
